*~
*#*
*.pyc
*.pyo
*.mo
*.egg-info
.python-version
develop-eggs/
parts/
bin/
eggs/
downloads/
var/
dist/
buildout.cfg
include/
lib/
local/
share/
pip-selfcheck.json
devsrc/
.vscode/
.installed.cfg
.pydevproject
.project
.DS_Store
.mr.developer.cfg
.settings/
.DS_Store
lib64
pyvenv.cfg
