*~
*#*
*.pyc
*.pyo
*.mo
*.egg-info
.python-version
/develop-eggs/
/parts/
/bin/
/eggs/
/downloads/
/var/
/dist/
/buildout.cfg
/include/
/lib/
/local/
/pip-selfcheck.json
/devsrc/
/.installed.cfg
/.pydevproject
/.project
/.DS_Store
/.mr.developer.cfg
/.settings/
