include *.py
include *.rst
include *.sh
include base.cfg
include coredev5.cfg
include plone-4.3.x.cfg
include plone-5.0.x.cfg
include plone-5.1.x.cfg
include versions.cfg
recursive-include src *
recursive-exclude src *.pyc
